/* Add a black background color to the top navigation */
/* nav bar*/
.topnav {
    background-color: rgb(79, 78, 161);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: greenyellow;
    color: black;
  }
  /*nav bar*/ 
  button {
    background-color: rgb(70, 124, 206);
  color: black;
  
/* the header*/
 .name {
     color: rgb(70, 124, 206);
    text-align: center;
 }
/* the title for each page */
.homepage  {

 color: rgb(70, 124, 206);
 text-align: center;
 

}
/* text*/
#welcome {
border-color: blue;
border-style: solid;
border-radius: 5px;
text-align: center;
font-size: larger;
}
/* text*/
#about-me {
border-color: blue;
border-style: solid;
border-width: 3px ;
position: absolute;
font-size: larger;



}
/* immages */
.halo{
  display:inline-block ;
  float: right;

}

button {
  background-color: rgb(70, 124, 206);
color: black;
}
/* text*/
#me {
border-color: blue;
border-style: solid;
border-width: 3px ;
position: absolute;
font-size: larger;
}
/* text*/
.experience{
  border-color: blue;
  border-style: solid;
  border-width: 5px ;
  position: absolute;
  font-size: larger;

}


}